.sized {
  /* width:100vw; */
  /* height:100vh; */
  /* overflow-y:scroll; */
  margin: auto;
}
.pdf-wrapper__container {
  position: relative;
  background-color: rgba(0,0,0,0.5);
  text-align: center;
  padding: 60px 0;
}
.pdf-wrapper__inner {
  position: relative;
}
canvas {
  display: block;
  margin: 2px auto;
}
#download, #fullscreen, #zoomin, #zoomout {
  color: #5b5b5b;
  border-radius: 50%;
  background-color: #ffffff;
  width: 40px;
  height: 40px;
  font-size: 26px;
  line-height: 20px;
  border: none;
  margin: 5px 0;
}
#download:hover, #fullscreen:hover, #zoomin:hover, #zoomout:hover {
  background-color: black;
}
#download:focus, #fullscreen:focus, #zoomin:focus, #zoomout:focus, #download:active, #fullscreen:active, #zoomin:active, #zoomout:active, #download:visited, #fullscreen:visited, #zoomin:visited, #zoomout:visited {
  outline: none;
}
.pdf-wrapper {
}
.close {
  font-size: 30px;
  color: white;
  position: fixed;
  top: 30px;
  right: 40px;
}
body {
  margin: 0;
}
.sidebar {
  position: fixed;
  bottom: 30px;
  right: 40px;
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
}
.page-counter {
  padding: 5px;
  color: #838383;
  background-color: #333333;
  border-radius: 4px;
  font-size: 12px;
  margin: 10px 0;
}