<div>
  <a href="/api/pdf-js/{{ item.fid.target_id }}/{{ item.download }}/{{ item.fullscreen }}/{{ item.zoom }}" data-dialog-type="modal" class="use-ajax button button--large nodeAction glyph glyph--small glyph--slides {{ item.classes }}" data-dialog-options="{&quot;width&quot;:700}" {{ item.attributes }} >
  {{ item.label }}
  </a>
</div>




