<div class="pdf-wrapper__container">
  <div class="pdf-wrapper">
    <canvas id="pdf-wrapper-1"></canvas>
  </div>
  <div class="pdf-wrapper__inner">
    <div class="close"><a>X</a></div>
    <div class="sidebar">
      <div class="page-counter"><span id="page_num">1</span>/<span id="page_count"></span></div>
      {% if item.download %}
       <a id="download" title="{{ 'Download'|t }}" download>-|-</a>
      {% endif %}
      {% if item.fullscreen %}
        <button id="fullscreen" type="button" title="{{ 'Fullscreen'|t }}">#</button>
      {% endif %}
      {% if item.zoom %}
        <button id="zoomin" type="button" title="{{ 'Zoom in'|t }}">+</button>
        <button id="zoomout" type="button" title="{{ 'Zoom out'|t }}">-</button>
      {% endif %}
    </div>
  </div>
</div>
